.purshahes {
    &__offer {
        width: 70%;
        margin: auto;
        margin-top: 110px;
        padding-bottom: 35px;
    }

    &__wrapper {
        border-radius: 15px;
        border-bottom: 20px solid $greenMain;
        background-color: #fff;
    }

    &-title {
        text-transform: uppercase;
        color: $greenMain;
        margin-bottom: 60px;
    }

}

@media (max-width: 982px) {
    .purshahes {
        &__offer {
            margin-top: 60px;
        }

        &-title {
            margin-bottom: 30px;
        }

        &-intro {
            font-size: 14px;
        }
    }
}

@media (max-width: 556px) {
    .purshahes {
        &__offer {
            margin-top: 40px;
        }

        &-intro {
            font-size: 12px;
        }
    }
}