// pallete
$orangeMain: #ff921a;
$orangeHover: #e46000;
$orangeActive: #cf5c09;
$greenMain: #67a319;
$greenHover: #4b8303;
$greenActive: #3b6900;
$secondBtnBgHover: #fff;
$secondBtnBgActive: #e7e7e7;
$captionColor: #a8a8a8;
$placeholderColor: #888888;